@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #171d29;
}
@media  (max-width: 768px) {
    .movie {
        flex-wrap: wrap;
        justify-content: center;
        text-align: start;
    }
}